{% extends "App/base.html " %}



{% block nav-btn %}

{% if request.user.is_superuser and request.user.is_authenticated %}
<a href="{% url 'backend' %}" class="btn btn-outline-info border-light btn-sm" id="btn-nav">Backend</a>
{% else %}

<a href="{% url 'backend' %}" class="btn btn-outline-info border-light btn-sm" id="btn-nav">Login</a>

{% endif %}
{% endblock nav-btn %}


 # ====================
    #  PAGE CONTENT
 # ====================
<!--Page content -->

{% block content %}



<style>
	body{
		background-image: url("/static/img/backend.jpg");
		background-position: center 0px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;

	}
</style>
{% endblock content %}